[Unit]
Description=lock screen after a few minutes of inactivity

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/xautolock -time 4 -locker 'i3lock -c 000000 -i /home/chris/.lock.png'

[Install]
WantedBy=mystuff.target
